openapi: 3.2.0
info:
  version: 2.0.0
  title: Article Search API
  description: Use the Article Search API to look up articles by keyword.
servers:
- url: https://api.nytimes.com/svc/search/v2
security:
- apikey: []
tags:
- name: Search
paths:
  /articlesearch.json:
    get:
      summary: Returns an array of articles
      description: Search for NYT articles by keywords, filters and facets.
      parameters:
      - name: begin_date
        in: query
        description: Begin date (e.g. 20120101)
        required: false
        schema:
          type: string
          pattern: ^\d{8}$
      - name: end_date
        in: query
        description: End date (e.g. 20121231)
        required: false
        schema:
          type: string
          pattern: ^\d{8}$
      - name: facet
        in: query
        description: Whether to show facet counts
        required: false
        schema:
          type: string
          enum:
          - false
          - true
      - name: facet_fields
        in: query
        description: Facets
        required: false
        schema:
          type: string
          enum:
          - day_of_week
          - document_type
          - ingredients
          - news_desk
          - pub_month
          - pub_year
          - section_name
          - source
          - subsection_name
          - type_of_material
      - name: facet_filter
        in: query
        description: Have facet counts use filters
        required: false
        schema:
          type: string
          enum:
          - false
          - true
      - name: fl
        in: query
        description: Field list
        required: false
        schema:
          type: string
      - name: fq
        in: query
        description: Filter query
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Page number (0, 1, ...)
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 0
      - name: q
        in: query
        description: Query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - newest
          - oldest
          - relevance
      tags:
      - Search
      responses:
        '200':
          description: An array of articles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  copyright:
                    type: string
                  response:
                    type: object
                    properties:
                      docs:
                        type: array
                        items:
                          $ref: '#/components/schemas/Article'
                      meta:
                        type: object
                        properties:
                          hits:
                            type: integer
                          offset:
                            type: integer
                          time:
                            type: integer
        '401':
          description: Unauthorized request.  Make sure api-key is set.
        '429':
          description: Too many requests.  You reached your per minute or per day rate limit.
      operationId: getArticlesearchJson
      x-operation-id-source: derived
components:
  schemas:
    Person:
      type: object
      properties:
        firstname:
          type: string
        middlename:
          type: string
        lastname:
          type: string
        qualifier:
          type: string
        title:
          type: string
        role:
          type: string
        organization:
          type: string
        rank:
          type: integer
    Byline:
      type: object
      properties:
        original:
          type: string
        person:
          type: array
          items:
            $ref: '#/components/schemas/Person'
        organization:
          type: string
    Keyword:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        rank:
          type: integer
        major:
          type: string
    Headline:
      type: object
      properties:
        main:
          type: string
        kicker:
          type: string
        content_kicker:
          type: string
        print_headline:
          type: string
        name:
          type: string
        seo:
          type: string
        sub:
          type: string
    Multimedia:
      type: object
      properties:
        rank:
          type: integer
        subtype:
          type: string
        caption:
          type: string
        credit:
          type: string
        type:
          type: string
        url:
          type: string
        height:
          type: integer
        width:
          type: integer
        legacy:
          type: object
          properties:
            xlarge:
              type: string
            xlargewidth:
              type: integer
            xlargeheight:
              type: integer
        crop_name:
          type: string
    Article:
      type: object
      properties:
        web_url:
          type: string
        snippet:
          type: string
        print_page:
          type: integer
        source:
          type: string
        multimedia:
          type: array
          items:
            $ref: '#/components/schemas/Multimedia'
        headline:
          $ref: '#/components/schemas/Headline'
        keywords:
          type: array
          items:
            $ref: '#/components/schemas/Keyword'
        pub_date:
          type: string
        document_type:
          type: string
        news_desk:
          type: string
        byline:
          $ref: '#/components/schemas/Byline'
        type_of_material:
          type: string
        _id:
          type: string
        word_count:
          type: integer
        score:
          type: integer
        uri:
          type: string
  securitySchemes:
    apikey:
      type: apiKey
      name: api-key
      in: query
