openapi: 3.2.0
info:
  version: 3.0.0
  title: Times Newswire Content API
  description: 'With the Times Newswire API, you can get links and metadata for Times'' articles as soon as they are published on NYTimes.com. The Times Newswire API provides an up-to-the-minute stream of published articles. You can filter results by source (all, nyt, or iht) and section (arts, business, ...).

    ```

    /content/{source}/{section}.json

    ```

    ## Example Call

    ```

    https://api.nytimes.com/svc/news/v3/content/all/all.json?api-key=yourkey

    ```'
servers:
- url: https://api.nytimes.com/svc/news/v3
security:
- apikey: []
tags:
- name: Content
paths:
  /content/{source}/{section}.json:
    get:
      parameters:
      - name: source
        in: path
        description: 'Limits the set of items by originating source


          all = items from both The New York Times and The International New York Times

          nyt = New York Times items only

          iht = International New York Times (FKA International Herald Tribune) items only

          '
        required: true
        x-consoleDefault: all
        schema:
          type: string
          enum:
          - all
          - nyt
          - iht
      - name: section
        in: path
        description: "Limits the set of items by one or more sections\nall | One or more section names, separated by semicolons\n\n To get all sections, specify all. To get a particular section or sections, use the section names returned by this request:\n http://api.nytimes.com/svc/news/v3/content/section-list.json\n"
        required: true
        x-consoleDefault: all
        schema:
          type: string
          default: all
      - name: limit
        in: query
        description: Limits the number of results, between 1 and 20
        required: false
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        description: Sets the starting point of the result set
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: An array of Articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  copyright:
                    type: string
                  num_results:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Article'
        '401':
          description: Unauthorized request.  Make sure api-key is set.
        '429':
          description: Too many requests.  You reached your per minute or per day rate limit.
      tags:
      - Content
      summary: Get content by source {section} json
      x-summary-source: derived
      operationId: getContentBySource{section}Json
      x-operation-id-source: derived
  /content/{source}/{section}/{time-period}.json:
    get:
      parameters:
      - name: source
        in: path
        description: 'Limits the set of items by originating source


          all = items from both The New York Times and The International New York Times

          nyt = New York Times items only

          iht = International New York Times items only

          '
        required: true
        schema:
          type: string
          enum:
          - all
          - nyt
          - iht
          default: all
      - name: section
        in: path
        description: "Limits the set of items by one or more sections\nall | One or more section names, separated by semicolons\n\n To get all sections, specify all. To get a particular section or sections, use the section names returned by this request:\n http://api.nytimes.com/svc/news/v3/content/section-list.json\n"
        required: true
        schema:
          type: string
          default: all
      - name: time-period
        in: path
        description: Limits the set of items by time published, integer in number of hours
        required: true
        schema:
          type: integer
          default: 12
      - name: limit
        in: query
        description: Limits the number of results, between 1 and 20
        required: false
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        description: Sets the starting point of the result set
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: An array of Articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  copyright:
                    type: string
                  num_results:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Article'
        '401':
          description: Unauthorized request.  Make sure api-key is set.
        '429':
          description: Too many requests.  You reached your per minute or per day rate limit.
      tags:
      - Content
      summary: Get content by source by section {time period} json
      x-summary-source: derived
      operationId: getContentBySourceBySection{timePeriod}Json
      x-operation-id-source: derived
components:
  schemas:
    Article:
      type: object
      properties:
        section:
          type: string
        subsection:
          type: string
        title:
          type: string
        abstract:
          type: string
        url:
          type: string
        short_url:
          type: string
        byline:
          type: string
        thumbnail_standard:
          type: string
        item_type:
          type: string
        source:
          type: string
        updated_date:
          type: string
        created_date:
          type: string
        published_date:
          type: string
        material_type_facet:
          type: string
        kicker:
          type: string
        headline:
          type: string
        des_facet:
          type: array
          items:
            type: string
        org_facet:
          type: string
        per_facet:
          type: array
          items:
            type: string
        geo_facet:
          type: array
          items:
            type: string
        blog_name:
          type: string
        related_urls:
          type: array
          items:
            type: object
            properties:
              suggested_link_text:
                type: string
              url:
                type: string
        multimedia:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              format:
                type: string
              height:
                type: integer
              width:
                type: integer
              type:
                type: string
              subtype:
                type: string
              caption:
                type: string
              copyright:
                type: string
  securitySchemes:
    apikey:
      type: apiKey
      name: api-key
      in: query
