openapi: 3.2.0
info:
  version: 3.0.0
  title: Times Newswire Content.json API
  description: 'With the Times Newswire API, you can get links and metadata for Times'' articles as soon as they are published on NYTimes.com. The Times Newswire API provides an up-to-the-minute stream of published articles. You can filter results by source (all, nyt, or iht) and section (arts, business, ...).

    ```

    /content/{source}/{section}.json

    ```

    ## Example Call

    ```

    https://api.nytimes.com/svc/news/v3/content/all/all.json?api-key=yourkey

    ```'
servers:
- url: https://api.nytimes.com/svc/news/v3
security:
- apikey: []
tags:
- name: Content.json
paths:
  /content.json:
    get:
      parameters:
      - name: url
        in: query
        description: The complete URL of a specific news item, URL-encoded or backslash-escaped
        required: true
        schema:
          type: string
          default: https%3A%2F%2Fwww.nytimes.com%2F2018%2F09%2F19%2Fworld%2Fasia%2Fnorth-south-korea-nuclear-weapons.html
      responses:
        '200':
          description: An array of Articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  copyright:
                    type: string
                  num_results:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Article'
        '401':
          description: Unauthorized request.  Make sure api-key is set.
        '429':
          description: Too many requests.  You reached your per minute or per day rate limit.
      tags:
      - Content.json
      summary: Get content json
      x-summary-source: derived
      operationId: getContentJson
      x-operation-id-source: derived
components:
  schemas:
    Article:
      type: object
      properties:
        section:
          type: string
        subsection:
          type: string
        title:
          type: string
        abstract:
          type: string
        url:
          type: string
        short_url:
          type: string
        byline:
          type: string
        thumbnail_standard:
          type: string
        item_type:
          type: string
        source:
          type: string
        updated_date:
          type: string
        created_date:
          type: string
        published_date:
          type: string
        material_type_facet:
          type: string
        kicker:
          type: string
        headline:
          type: string
        des_facet:
          type: array
          items:
            type: string
        org_facet:
          type: string
        per_facet:
          type: array
          items:
            type: string
        geo_facet:
          type: array
          items:
            type: string
        blog_name:
          type: string
        related_urls:
          type: array
          items:
            type: object
            properties:
              suggested_link_text:
                type: string
              url:
                type: string
        multimedia:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              format:
                type: string
              height:
                type: integer
              width:
                type: integer
              type:
                type: string
              subtype:
                type: string
              caption:
                type: string
              copyright:
                type: string
  securitySchemes:
    apikey:
      type: apiKey
      name: api-key
      in: query
