openapi: 3.2.0
info:
  version: 1.0.0
  title: Geographic Events API
  description: The Geographic API extends the Semantic API, using a linked data approach to enhance location concepts used in The New York Times' controlled vocabulary and data resources which combine them with the GeoNames database, an authoritative and free to use database of global geographical places, names and features.
servers:
- url: http://api.nytimes.com/svc/semantic/v2/geocodes
- url: https://api.nytimes.com/svc/semantic/v2/geocodes
security:
- apikey: []
tags:
- name: Events
paths:
  /query.json:
    get:
      summary: Geographic API
      parameters:
      - name: name
        in: query
        description: A displayable name for the specified place.
        required: false
        schema:
          type: string
      - name: latitude
        in: query
        description: 'The latitude of the specified place.

          '
        schema:
          type: string
      - name: longitude
        in: query
        description: The longitude of the specified place.
        schema:
          type: string
      - name: elevation
        in: query
        description: The elevation of the specified place, in meters.
        required: false
        schema:
          type: integer
      - name: sw
        in: query
        description: Along with ne, forms a bounded box using the longitude and latitude coordinates specified as the southwest corner. The search results are limited to the resulting box. Two float values, separated by a comma `latitude,longitude` <br/> The ne parameter is required to use this parameter.
        required: false
        schema:
          type: string
      - name: query
        in: query
        description: 'Search keywords to perform a text search on the fields: web_description, event_name and venue_name. ''AND'' searches can be performed by wrapping query terms in quotes. If you do not specify a query, all results will be returned.

          '
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: 'Filters search results based on the facets provided.  For more information on the values you can filter on, see Facets.

          '
        required: false
        schema:
          type: string
      - name: date_range
        in: query
        description: Start date to end date in the following format- YYYY-MM-DD:YYYY-MM-DD
        required: false
        schema:
          type: string
      - name: facets
        in: query
        description: When facets is set to 1, a count of all facets will be included in the response.
        schema:
          type: integer
          enum:
          - 0
          - 1
          default: 0
      - name: sort
        in: query
        description: 'Sorts your results on the fields specified. <br/> `sort_value1+[asc | desc],sort_value2+[asc|desc],[...]`<br/> Appending +asc to a facet or response will sort results on that value in ascending order. Appending +desc to a facet or response  will sort results in descending order. You can sort on multiple fields. You can sort on any facet. For the list of responses you can sort on, see the Sortable Field column in the Response table. <br/><br/>If you are doing a spatial search with the ll parameter, you can also sort by the distance from the center of the search: dist+[asc | desc] <br/> **Note:** either +asc or +desc is required when using the sort parameter.

          '
        schema:
          type: string
      - name: limit
        in: query
        description: Limits the number of results returned
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        description: Sets the starting point of the result set
        schema:
          type: integer
          default: 0
      tags:
      - Events
      responses:
        '200':
          description: An array of events
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
      operationId: getQueryJson
      x-operation-id-source: derived
components:
  schemas:
    Event:
      type: object
      properties:
        event_id:
          type: integer
        event_schedule_id:
          type: integer
        last_modified:
          type: string
        event_name:
          type: string
        event_detail_url:
          type: string
        web_description:
          type: string
        city:
          type: string
        state:
          type: string
        film_rating:
          type: boolean
        critic_name:
          type: string
        times_pick:
          type: boolean
        free:
          type: boolean
        kid_friendly:
          type: boolean
        last_chance:
          type: boolean
        festival:
          type: boolean
        long_running_show:
          type: boolean
        previews_and_openings:
          type: boolean
        recurring_start_date:
          type: string
        recur_days:
          type: array
          items:
            type: string
  securitySchemes:
    apikey:
      type: apiKey
      name: api-key
      in: query
