openapi: 3.2.0
info:
  version: 3.0.0
  title: Books Reviews.json API
  description: The Books API provides information about book reviews and The New York Times Best Sellers lists.
servers:
- url: https://api.nytimes.com/svc/books/v3
tags:
- name: Reviews.json
paths:
  /reviews.json:
    get:
      summary: Reviews
      description: Get book reviews.
      operationId: GET_reviews-format
      parameters:
      - name: isbn
        in: query
        description: Searching by ISBN is the recommended method. You can enter 10- or 13-digit ISBNs.
        schema:
          type: integer
      - name: title
        in: query
        description: You’ll need to enter the full title of the book. Spaces in the title will be converted into the characters %20.
        schema:
          type: string
      - name: author
        in: query
        description: You’ll need to enter the author’s first and last name, separated by a space. This space will be converted into the characters %20.
        schema:
          type: string
      responses:
        '200':
          description: Book reviews.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  copyright:
                    type: string
                  num_results:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        publication_dt:
                          type: string
                        byline:
                          type: string
                        book_title:
                          type: string
                        book_author:
                          type: string
                        summary:
                          type: string
                        isbn13:
                          type: array
                          items:
                            type: string
              example:
                status: OK
                copyright: Copyright (c) 2019 The New York Times Company.  All Rights Reserved.
                num_results: 2
                results:
                - url: http://www.nytimes.com/2011/11/10/books/1q84-by-haruki-murakami-review.html
                  publication_dt: '2011-11-10'
                  byline: JANET MASLIN
                  book_title: 1Q84
                  book_author: Haruki Murakami
                  summary: In “1Q84,” the Japanese novelist Haruki Murakami writes about characters in a Tokyo with two moons.
                  isbn13:
                  - '9780307476463'
      security:
      - api-key: []
      tags:
      - Reviews.json
components:
  securitySchemes:
    api-key:
      name: api-key
      type: apiKey
      in: query
