swagger: '2.0'
info:
  version: 2.0.0
  title: Archive Search.json API
  description: 'The Archive API returns an array of NYT articles for a given month, going back to 1851.  Its response fields are the same as the Article Search API. The Archive API is very useful if you want to build your own database of NYT article metadata. You simply pass the API the year and month and it returns a JSON object with all articles for that month.  The response size can be large (~20mb).


    ```

    /{year}/{month}.json

    ```


    ## Example Call

    ```

    https://api.nytimes.com/svc/archive/v1/2019/1.json?api-key=yourkey

    ```

    '
host: api.nytimes.com
basePath: /svc/archive/v1
schemes:
- https
produces:
- application/json
security:
- apikey: []
tags:
- name: Search.json
paths:
  /search.json:
    get:
      parameters:
      - name: query
        in: query
        description: Precedes the search term string. Used in a Search Query. Except for &lt;specific_concept_name&gt;, Search Query will take the required parameters listed above (&lt;concept_type&gt;, &lt;concept_uri&gt;, &lt;article_uri&gt;) as an optional_parameter in addition to the query=&lt;query_term&gt;.
        required: true
        type: string
      - name: offset
        in: query
        description: Integer value for the index count from the first concept to the last concept, sorted alphabetically. Used in a Search Query. A Search Query will return up to 10 concepts in its results.
        default: 10
        required: false
        type: integer
      - name: fields
        in: query
        description: '"all" or comma-separated list of specific optional fields: pages, ticker_symbol, links, taxonomy, combinations, geocodes, article_list, scope_notes, search_api_query


          Optional fields are returned in result_set. They are briefly explained here:


          pages: A list of topic pages associated with a specific concept.

          ticker_symbol: If this concept is a publicly traded company, this field contains the ticker symbol.

          links: A list of links from this concept to external data resources.

          taxonomy: For descriptor concepts, this field returns a list of taxonomic relations to other concepts.

          combinations: For descriptor concepts, this field returns a list of the specific meanings tis concept takes on when combined with other concepts.

          geocodes: For geographic concepts, the full GIS record from geonames.

          article_list: A list of up to 10 articles associated with this concept.

          scope_notes: Scope notes contains clarifications and meaning definitions that explicate the relationship between the concept and an article.

          search_api_query: Returns the request one would need to submit to the Article Search API to obtain a list of articles annotated with this concept.

          '
        required: false
        type: string
        enum:
        - all
        - pages
        - ticker_symbol
        - links
        - taxonomy
        - combinations
        - geocodes
        - article_list
        - scope_notes
        - search_api_query
      responses:
        '200':
          description: An array of Concepts
          schema:
            type: object
            properties:
              status:
                type: string
              copyright:
                type: string
              num_results:
                type: integer
              results:
                type: array
                items:
                  $ref: '#/definitions/ConceptRelation'
      tags:
      - Search.json
definitions:
  ConceptRelation:
    type: object
    properties:
      concept_id:
        type: integer
      concept_name:
        type: string
      is_times_tag:
        type: integer
      concept_status:
        type: string
      vernacular:
        type: string
      concept_type:
        type: string
      concept_created:
        type: string
      concept_updated:
        type: string
securityDefinitions:
  apikey:
    type: apiKey
    name: api-key
    in: query
