openapi: 3.2.0
info:
  version: 1.0.0
  title: Timestags API
  description: With the TimesTags API, you can mine the riches of the New York Times tag set.
servers:
- url: http://api.nytimes.com/svc/suggest/v1
- url: https://api.nytimes.com/svc/suggest/v1
security:
- apikey: []
tags:
- name: Timestags
paths:
  /timestags:
    get:
      parameters:
      - name: query
        in: query
        description: Your search query
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'If you do not specify a value for filter (see the Optional Parameters), your query will be matched to tags in all four Times dictionaries: subject, geographic location, organization and person. To use more than one, separate with commas.

          '
        required: false
        schema:
          type: string
          enum:
          - Des
          - Geo
          - Org
          - Per
      - name: max
        in: query
        description: Sets the maximum number of results
        required: false
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: An array of tags
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: string
      tags:
      - Timestags
      summary: Get timestags
      x-summary-source: derived
      operationId: getTimestags
      x-operation-id-source: derived
components:
  securitySchemes:
    apikey:
      type: apiKey
      name: api-key
      in: query
